// React modal transition
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

// Custom checkbox
.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 4px;;
  }

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    @apply bg-accent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

// Calendar overwrite 
.react-calendar__tile {
    position: relative;

    .__react_component_tooltip.show {
        opacity: 1;
    }
}

.tooltip-hoverable-item {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.react-calendar__tile:enabled:hover {
    @apply bg-secondary text-black;
}

.react-calendar__tile--now {
    @apply bg-yellow-400 text-black;
}